﻿@model petStoreMonitoringApp.Models.OnHandMerch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OnHandMerch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityonHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityonHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OnHandMerchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
